body {
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#card-deck {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card {
    background-color: #ffffff;
    border: 3.5px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.095), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    display: flex;
    margin: 20px;
}

.card-head, .code-no {
    margin: 15px 0 10px;
    font-size: 20px;
}

.code-container {
    background-color: #5dafde;
    border-radius: 6px 0 0 6px;
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 20%;
}

.code-no {
    color: white;
    padding: 10px;
    font-weight: 300;
    font-size: 20px;
}

.description {
    margin: 10px 15px;
    width: 80%;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
}

#main-title, .card-head {
    color: #494949;
    font-weight: 400;
}

#main-title {
    font-size: 30px;
}

.text {
    font-size: 12px;
}

@media only screen and (min-width: 768px) {
    .card {
        margin: 0 0 20px 0;
        max-width: 40%;
        min-height: 200px;
    }

    .card-head, .code-no {
        margin: 15px 0 10px;
        font-size: 30px;
    }

    .code-container {
        width: 20%;
    }

    .code-no {
        padding: 10px;
        font-size: 30px;
    }

    .description {
        margin: 10px 15px;
        width: 80%;
    }

    main {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        width: 100%;
    }

    #main-title {
        font-size: 40px;
        width: 40%;
    }
}